<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
        <script type="text/javascript" src="{{url_for('static', filename='liquidFillGauge.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='loadJSONData.js')}}"></script>
        <style>
            .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
        </style>
    </head>
    <body>
        <div class="submit">
            <h1>Enter Player Names</h1>
            <form action="/playerNames/" method="post">
                <input type="text" name="playerOneName">
                <input type="text" name="playerTwoName">
                <p><button id="submitButton"/>Submit</p>
            </form>
        </div>
        <div id="container" style = "width:100%">
            {% block guages %}
            {% endblock %}
        </div>
    </body>
</html>